.container {
    display:flex;
    flex-direction: column;
}

.messages {

    padding:20px;
    overflow-y: scroll;
}

.inputbox {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.form-field {
    width:80%;
}
mat-form-field {
    width: 100%;
}
button{
    margin:20px;
}

mat-card {
    margin:20px;
}